@import '../../../look/styles/theme/colors';

.menu {
  //background: #1E1C21;
  //width: 50%;
  position: absolute;
  height: calc(100vh - 186px);
  top: 82px;
  z-index: 3;
  padding: 40px;
  right: 0;
  //transform: translateX(calc(100% + 15px));
  //pointer-events: none;
  transition: 0.2s all;

  &.active {
    //right: 1px;
    pointer-events: all;
    transform: translateX(0);
  }

  ul {
    list-style: none;
    margin: 0;
    display: grid;
    grid-gap: 25px;

    li {
      position: relative;

      a {
        font-style: normal;
        font-weight: 900;
        font-size: 24px;
        line-height: 100%;
        display: flex;
        align-items: center;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #fff;
        opacity: 0.41;

        &:hover {
          opacity: 1;
          color: $white;
        }
      }

      :global(.active) {
        padding-left: 24px;
        color: $white;
        opacity: 1;

        &:before {
          content: '';
          position: absolute;
          width: 10px;
          height: 10px;
          background: $accent;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }

        a {
          color: $white;
          opacity: 1;
        }
      }
    }
  }
}

.bgNav {
  content: '';
  position: absolute;
  left: 1px;
  height: calc(100vh - 186px);
  top: 82px;
  width: calc(100% - 2px);
  background: #100F13;
  opacity: 0;
  z-index: 2;
  transition: 0.2s all;
  pointer-events: none;

  &.active {
    opacity: 0.9;
    pointer-events: all;
  }
}