.home {
    max-height: calc(100% - 169px);
    position: relative;
    top: 82px;
    //height: 100%;
    overflow-y: scroll;
    //height: 100vh;
    //scroll-snap-points-y: repeat(100vh);
    scroll-snap-type: y mandatory;
}