$purple: #6867FF;
$purpleHover: #7776f9;
$coral: #FF7C7C;
$coralHover: #f77a7a;
$light: #E5E5E5;
$lightBlue: #f7f5ff;
$dark: #100F13;
$white: #fff;


$accent: #FEFD3E;
$lightGray: #CFCFD0;
$lineColor: #4B4951;
$linkColor: #797979;

.coral {
    color: $coral;
}