* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html{
  height: 100%;
}

body{
  height: 100%;
  font-family: 'Arial', sans-serif;

  #__next {
    display: flex;
    flex-direction: column;
    height: 100%;
  }
}

a {
  transition: 0.2s all;
}

html,
body {
  padding: 0;
  margin: 0;
  font-style: normal;
  font-weight: 200;
  font-size: 16px;
  line-height: 150%;
  background: $dark;
  color: $white;
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  max-width: 100%;
}

strong {
  font-weight: bold;
}


.container {
  height: calc(100vh - 169px);
  max-height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;

  section {
    scroll-snap-align: start;
    display: grid;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 169px);
    //max-height: calc(100vh - 169px);
  }
}

.panel {
  scroll-snap-align: start;
  //height: 100vh;
  //max-height: calc(100% - 169px);
}

.red {
  background-color: #cf3535;
  background-image: none;
  //height: calc(100vh - 240px);
}

.blue {
  background-color: #3570cf;
  background-image: none;
  //height: calc(100vh - 160px);
}

.red2 {
  background-color: #cf3535;
  background-image: none;
  //height: calc(100vh - 320px);
}

.blue2 {
  background-color: #3570cf;
  background-image: none;
  //height: calc(100vh - 260px);
}

.orange {
  background-color: #e57825;
  background-image: none;
  //height: calc(100vh - 420px);
}

.panel p {
  font-size: 32px;
}


.wrapper {
  padding: 15px 15px 0;

  &__cont {
    height: calc(100vh - 15px);
    overflow: hidden;
    position: relative;
  }
}